<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>登录</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{css/signin.css}" />
<style type="text/css">
body {
	padding-top: 50px;
}

.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>
</head>
<body>
	<div class="container">
		<div class="starter-template">
			<p th:if="${param.logout}" class="bg-warning">已注销</p>
			<p th:if="${param.error}" class="bg-danger">有错误，请重试</p>
			<h2>管理人员登录</h2>
			<a th:href="@{/consumelogin}">切换普通用户登录</a>
			<form class="form-signin" th:action="@{/login/manager}" method="post">
				<div class="form-group">
					<label for="usertoken">账户</label> <input type="text"
						class="form-control" name="usertoken" value="" placeholder="账号" />
				</div>
				<input type="submit" id="login" value="Login"
					class="btn btn-primary" />
			</form>
		</div>
	</div>
</body>
</html>